main {
  transition: margin-left .5s;
  transition: margin-right .5s;
}
/* General */
.magic-search {
  position: fixed; 
  z-index: 1; 
  background-color: #fff;
  padding: 20px;
  transition: 0.5s;
  width: 480px;
}
.magic-search-content {
  overflow-y: scroll;
  overflow-x: initial;
  height: 100vh;
}
.magic-search-right {
  top: 0;
  right: 0;
  border-left: 2px solid #343434;
  transform: translateX(98%);
}
.magic-search-left {
  top: 0; 
  left: 0;
  border-right: 2px solid #343434;
  transform: translateX(-98%);
}
.magic-search-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.magic-search-close-right {
  position: absolute;
  top: 0;
  right: 0;
}
.magic-search-close-left {
  position: absolute;
  top: 0;
  left: 0;
}
.magic-search-tab {
  position: absolute;
  top: 200px;
  width: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color:#343434 ;
}
.magic-search-tab-left {
  right: -40px;
}
.magic-search-tab-right {
  left: -40px;
}
.magic-search-tab-icon {
  margin: 0 auto;
}
/* Search results */
.magic-search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #343434;
  margin-bottom: 12px;
}
.magic-search-input {
  width: 100%;
  height: 40px;
  padding: 4px;
}
.magic-search-input:focus {
  outline: none;
}
.magic-search-results-title-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.magic-search-results-title {
  font-size: 32px;
  font-weight: 700;
}
.magic-search-subtitle {
  font-size: 20px;
  font-weight: 200;
}
/* Articles */
.magic-search-articles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.magic-search-article {
	border-bottom: 1px solid #000000;
  padding: 0 4px 8px
}

.magic-search-article-title {
	font-size: 16px;
  font-weight: 700;
	display: block;
	margin-bottom: 4px;
}

.magic-search-article-text {
	margin: 10px 0px;
	color: #777;
}

.magic-search-article-author {
	font-style: italic;
  font-weight: 300;
	color: #777;
	font-size: 12px;
}
/* Chat messages */
.magic-search-chat {
  height: 100px;
}
.magic-search-chat-title-button {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;;
}
.magic-search-chat-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #343434;
  margin-top: 12px;
}
.magic-search-chat-input {
  width: 100%;
  height: 40px;
  padding: 4px;
}
.magic-search-chat-input:focus {
  outline: none;
}
.magic-search-user-message {
  font-size: 20px;
  padding: 12px 0px;
}

.magic-search-bot-message {
  padding: 12px 0px;
}

/* Suggestions */
.magic-search-suggestions-title {
  font-size: 20px;
  margin-bottom: 12px;
}
.magic-search-suggestions {
  margin-bottom: 12px;
}
.magic-search-suggestion {
  padding: 12px 0px;
  border-bottom: 1px solid #3434
}

/* Loading state */
.magic-search-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.magic-search-loader::before , .magic-search-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.magic-search-loader::after{
  border-color: #FF3D00;
  animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

/* Utilities */
.expand {
  height: auto;
  overflow: initial;
}

.rotate-180 {
  transform: rotate(180deg);
}