@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

body, .magic-search {
  font-family: 'Red Hat Display', sans-serif;
}
body {
  transition: margin-left .5s;
  transition: margin-right .5s;
}
/* General */
.magic-search {
  position: fixed; 
  z-index: 1; 
  background-color: #F4F4F4;
  transition: 0.5s;
  width: 480px;
  color: #595959;
}
.magic-search-content {
  overflow-y: scroll;
  overflow-x: initial;
  height: 100vh;
  padding: 20px;
}
.magic-search-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}
.magic-search-right.magic-search-show {
  transform: translateX(0);
}
.magic-search-right.magic-search-hide {
  transform: translateX(100%);
}
.magic-search-left {
  top: 0; 
  left: 0;
  transform: translateX(100%);
}
.magic-search-left.magic-search-show {
  transform: translateX(0);
}
.magic-search-left.magic-search-hide {
  transform: translateX(-100%);
}
.magic-search-page-show {
  display: block;
}
.magic-search-page-hide {
  display: none;
}
.magic-search-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 48px;
}
.magic-search-nav-button {
  height: 50px;
  width: 50px;
  margin: 4px;
  border: 1px solid #595959;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #00000040;
  display: flex;
  align-items: center;
}
.magic-search-nav-button-icon {
  margin: 0 auto;
}
.magic-search-nav-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.magic-search-nav-button-disabled {
  opacity: 0.5;
}
.magic-search-close {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 1px 4px 0px #00000040;
}
.magic-search-close-icon {
  margin: 0 auto;
}
/* .magic-search-close-right {
  position: absolute;
  top: 1px;
  left: 1px;
} */
.magic-search-close-left {
}
.magic-search-tab {
  position: absolute;
  top: 0;
}
.magic-search-tab-container-left .magic-search-border {
  right: -8px;
}
.magic-search-tab-container-right .magic-search-border{
  left: -8px;
}
.magic-search-tab-container-left .magic-search-tab {
  transform: translateX(100%);
  right: 1px;
}
.magic-search-tab-container-right .magic-search-tab {
  transform: translateX(-100%) translateX(-19px);
}
.magic-search-tab-icon {
  margin: 0 auto;
}
.magic-search-intro-title {
  font-size: 18px;
  padding: 12px;
}
/* Search results */
.magic-search-input-wrap {
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  border-radius: 40px;
  margin-bottom: 24px;
}
.magic-search-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 12px;
  background-color: #FFF;
}
.magic-search-input {
  width: 100%;
  height: 40px;
  padding: 4px;
}
.magic-search-input:focus {
  outline: none;
}
.magic-search-form {
  width: 100%;
}
.magic-search-title {
  font-size: 16px;
  font-weight: 700;
}
.magic-search-last-search {
  font-size: 24px;
  margin-bottom: 24px;
}
/* Articles */
.magic-search-articles {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 8px;
  transition: height .5s ease-in;
}

.magic-search-article {
	border-bottom: 1px solid #000000;
  padding: 0 4px 8px
}

.magic-search-article-title {
	font-size: 16px;
  text-decoration: underline;
	display: block;
	margin-bottom: 4px;
}

.magic-search-article-author {
	font-size: 14px;
}
.magic-search-see-more-button {
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0px 1px 4px 0px #00000040;
  margin: 8px;
}
/* Chat messages */
.magic-search-chat {
  padding: 12px;
  font-size: 16px;
  margin-bottom: 50px;
  min-height: 400px;
}
.magic-search-streamed-message {
  white-space: pre-wrap;
}
.magic-search-chat-title-button {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.magic-search-chat-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #343434;
  margin-top: 12px;
}
.magic-search-chat-input {
  width: 100%;
  height: 40px;
  padding: 4px;
}
.magic-search-chat-input:focus {
  outline: none;
}
.magic-search-results-search {
  position: fixed;
  bottom: 20px;
}
.magic-search-chat-input-wrap {
  position: sticky;
  bottom: 36px;
  left: 0;
}
.magic-search-shimmer {
  height: 16px;
  margin-bottom: 6px;
  border-radius: 8px;
  animation: shimmering 2.1s linear infinite;
  background:  rgba(226,226,226,1);
  background: linear-gradient(90deg,rgba(226,226,226,1) 9%, rgba(238,238,238,1) 18%, rgba(226,226,226,1) 31%);
  background-size: 1300px 100%;
}
@keyframes shimmering {
    0% {
        background-position: -1300px 0;
    }
    100% {
        background-position: 1300px 0;
    }
}
.magic-search-citation {
}
/* Suggestions */
.magic-search-suggestions-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.magic-search-prompts {
  margin-bottom: 12px;
}
.magic-search-prompt {
  padding: 16px;
  background: #fff;
  border-radius: 23px;
  margin-bottom: 12px;
}
.magic-search-prompt-response {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 12px 12px;
}
/* Loading state */
.magic-search-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.magic-search-loader {
  margin: 0 auto;
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}