:root {
  --time-red: #D62F22;
}
.magic-search-suggestions-title {
  color: var(--time-red);
}
.magic-search-articles-title {
  color: var(--time-red);
}
.magic-search-input-wrap {
  background: var(--time-red);
}
.time-magic-search-loader-dot {
  background: var(--time-red);
}
